@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body {
  font-family: 'Mochiy Pop One', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: black;
  letter-spacing: 4px;
  background: lightgray;
}

#main {
  text-align: center;
  justify-content: center;
  padding: 30px 0px 80px 0px;
  margin: 0;
  width: 99%;
  height: 60dvh;
}

h1,
h2 {
  font-size: 18px;
  font-weight: Black;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.container {
  padding: 30px 10px 70px 10px;
  margin: 0;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

/* PC（幅768px以上）のとき3列に切り替え */
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.box {
  background: whitesmoke;
  padding: 20px;
  margin: 0;
  text-align: center;
  border-radius: 5px;
}

.font-small {
  font-size: 12px;
  letter-spacing: 1px;
}

.font-normal {
  font-size: 16px;
  letter-spacing: 2px;
}

.font-big {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: lightgray;
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 1000;
  border: none;
}

.bottom-nav {
  position: fixed;
  /* 画面下に固定 */
  bottom: 0;
  left: 0;
  width: 100%;
  background: lightgray;
  display: flex;
  /* 横並びにする */
  justify-content: space-around;
  /* 均等に配置 */
  padding: 10px 0;
}

nav a {
  background-color: whitesmoke;
  border-color: gray;
  color: gray;
  border: solid 1px;
  font-size: 24px;
  padding: 16px 8px 8px 8px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  width: 100px;
  text-align: center;
}

nav a:hover,
nav a:active {
  color: whitesmoke;
  background-color: gray;
}

nav rt {
  letter-spacing: 0px;
  padding: 2px;
}

textarea {
  margin: 0;
  padding: 0;
  width: 95%;
  /* 親要素の幅いっぱいに広げる */
  max-width: 600px;
  /* 最大幅を制限する場合 */
  height: 85vh;
  /* 高さを指定 */
}

@media (min-width: 768px) {
  textarea {
    height: 70vh;
  }
}