@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
  font-family: 'DotGothic16', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.content {
  padding: 24px 0px;
  margin: 0;
  height: 100vh;
  width: 100%;
  background: #aaaaaa;
  border: 1 solid;
}

.container {
  padding: 34px 0px 80px 0px;
  margin: 0;
  display: grid;
  gap: 4px;
  /* 隙間 */
  grid-template-columns: repeat(2, 1fr);
  /* スマホでは2列 */
}

.box {
  background: #f2f2f2;
  /* フラットデザイン風の淡色 */
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  /* 少し角丸にすると今風 */
}

/* PC（幅768px以上）のとき4列に切り替え */
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

#box {
  margin: 10px 6px;
  border: 1px solid;
  background: #eeeeee;
  color: #000000;
  border-color: #cccccc;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #eeeeee;
  color: #000000;
  text-align: center;
  padding: 2px 0;
  margin: 0;
  z-index: 1000;
  border: solid 1px;
  border-color: #cccccc;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #eeeeee;
  color: #000000;
  text-align: center;
  padding: 16px 0;
  margin: 0;
  z-index: 1000;
  border: solid 1px;
  border-color: #cccccc;
}

.bottom-nav {
  position: fixed;
  /* 画面下に固定 */
  bottom: 0;
  left: 0;
  width: 100%;
  background: #eeeeee;
  color: #000000;
  display: flex;
  /* 横並びにする */
  justify-content: space-around;
  /* 均等に配置 */
  padding: 10px 0;
}