@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #fafafa; /* zinc-50 */
  --foreground: #18181b; /* zinc-900 */
  --link-color: #1d4ed8; /* blue-700 */
  --font-size: 16; /* 太め */
  --font-weight: 400; /* 太め */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b; /* zinc-900 */
    --foreground: #fafafa; /* zinc-50 */
    --link-color: #3b82f6; /* blue-500 */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family:
    "Yu Gothic UI", "Hiragino Maru Gothic Pro", "Hiragino Maru Gothic ProN",
    "sans-serif";
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 1.7;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

a:focus-visible {
  color: var(--link-color);
  text-decoration: underline;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
